---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Varela Round', Arial, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.66667;

$spacing-unit:     30px;

$text-color:       #4d5659;
$background-color: #fdfdfd;
$brand-color:      #040f3d;
$brand-hover-color: #828282;
$title-color:		rgb(255, 255, 255);;
$header-background-color: rgb(34, 38, 41);;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$rounded-corner: 30px;

$on-palm:          600px;
$on-laptop:        800px;

$footer-color: 	#828282;
$footer-text-color: #FFFFFF;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import
        "base",
        "layout",
        "syntax-highlighting"
;
