<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
	var redirects = {
		'p=884' : '/blog/mongo-repository',
		'p=142' : '/blog/jquery-to-talk-to-wcf-2',
		'p=360' : '/blog/exposing-jquery-functions',
		'p=97' : '/blog/jquery-to-talk-to-wcf-1',
		'p=550' : '/blog/implementing-specification-pattern',
		'p=201' : '/blog/accessing-dotnet-dictionary-in-jquery',


		'p=1147' : '/blog/fantasy-world-built-of-metrics',
		'p=1308' : '/blog/pageboy',
		
		'p=32' : '/blog/uml-aggregation-vs-composition',
	};
	var pageQuery = window.location.search.substr(1).split('&')[0];
	if (!!pageQuery){
		var redirectUrl = redirects[pageQuery];
		if(!!redirectUrl){
			var baseUrl = window.location.protocol+"//"+window.location.host;
			window.location.replace(redirectUrl);
		}
	}		
</script>