<!DOCTYPE html>
<html>
  {% include blog-head.html %}
  <body>
    {% include header.html %}
    <div class="page-content">
      <div class="wrapper">
        <article class="post">
    		  <header>
    		    <h2>{{ page.title }}</h2>
    		    <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }} on {{page.categories | join: ' '}}</span>
    		  </header>
    		  <section class="post-content">
    		    {{ content }}
    		  </section>
		      {% include comments.html %}
		    </article>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>


